@inherits FluxorComponent

<a href="cart" class="btn btn-info">
  <i class="oi oi-cart"></i>
  <span data-testid="cart-counter-badge" class="badge">@CartState?.Value.CurrentCartItemsCount</span>
</a>
